/*Note : Don't move anywere,Vidya*/
.menuhover1
{
	color:#fff;background:transparent url(images/blueslate_backgroundOVER.gif) top center;
}

.menuhover
{
    color:white;
	background-color:#0075C5;
}

.menuhovermain
{
	background-color:white;
	color:#0075C5;	
}

